
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
}

h2 {
    font-size: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.header-title {
    text-align: center;
    font-size: 72px;
    margin: 0;
    padding: 20px 0 20px 0;;
}

.nav-bar {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #ffcc00;
    height: 80px;
    margin-bottom: 30px;
    border-radius: 1px;
}

.nav-bar a {
    padding: 30px;
    font-size: 20px;
}

.nav-bar a:not(:last-child){
    border-right: solid 3px #000;
}


.main-wrapper {
    display: flex;
}

.content {
    width: 75%;
    padding: 0 30px 30px 30px;
}

.section.about {
    display: flex;
}

.pic {
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-right: 40px;
}

.section {
    padding: 20px 0px 20px 0px;
}

.history-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sidebar {
    width: 25%;
    height: fit-content;
    background: #ffcc00;
    margin: 20px 20px 20px 0;
    padding: 8px;
    text-align: center;
}

.sidebar h2 {
    text-align: center;
}

.sidebar li {
    padding: 8px;
}

.footer {
    background-color: aquamarine;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.footer a {
    padding: 10px;
}