/* Imported from Google Fonts -- Using the Open Fonts License */
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans');

body {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

h2 {
    font-size: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: darksalmon;
    margin-bottom: 10px;
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #0F7982;
}

.header-title {
    text-align: center;
    font-size: 72px;
    margin: 0;
    padding: 20px 0 20px 0;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 5px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #66B9Bf;
    height: 50px;
}

.nav-bar a {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.main-wrapper {
    display: flex;
}

.content {
    width: 75%;
    padding: 0 30px 30px 30px;
}

.section {
    padding: 20px 0px 20px 0px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.section h3 {
    font-size: 30px;
    margin-top: 0px;
}

.section p {
    font-size: 20px;
    margin-top: 0px;
}

.section-title {
    margin-left: 10px;
}

.history-section, .skills-section, .about-section {
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.section.about {
    display: flex;
}

.about-wrapper {
    padding-right: 25px;
}

.about-section {
    background-color: #0F7982;
}

.pic {
    width: 200px;
    height: 200px;
    margin-top: 90px;
    margin-right: 40px;
}

.history-section:nth-child(even), .skills-section:nth-child(even) {
    background-color: #0F7982;
}

.history-section:nth-child(odd), .skills-section:nth-child(odd) {
    background-color: #66B9Bf;
}

.history-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.skills-wrapper {
    display: flex;
}

.sidebar {
    width: 25%;
    height: fit-content;
    height: -moz-fit-content;
    background: darksalmon;
    margin: 20px 20px 20px 0;
    padding: 10px;
    color: white;
    text-align: center;
}

.sidebar h2 {
    text-align: center;
    font-style: italic;
    color: white;
}

.sidebar p {
    padding: 0 25px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darksalmon;
    font-size: 20px;
    padding: 10px;
}

.footer a {
    padding: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'IBM Plex Sans', sans-serif;
}